@page
@model InviteConfirmModel
@{
    ViewData["Title"] = "Enter password and confirm company invite";
}

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Forgot your password?</title>
    <!-- Load Favicon-->
    <link href="~/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Load Material Icons from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <!-- Roboto and Roboto Mono fonts from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet" />
    <!-- Load main stylesheet-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<body class="bg-pattern-doubs">
    <!-- Layout wrapper-->
    <div id="layoutAuthentication">
        <!-- Layout content-->
        <div id="layoutAuthentication_content">
            <!-- Main page content-->
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                            <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-4">
                                <div class="card-body p-5">
                                    <!-- Auth header with logo image-->
                                    <div class="text-center">
                                        <img class="mb-3" src="~/assets/img/icons/background.svg" alt="..." style="height: 48px" />
                                        <h1 class="display-5 mb-0">@ViewData["Title"]</h1>
                                        <div class="subheading-1 mb-5">Enter new password.</div>
                                    </div>
                                    <form method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input asp-for="Input.Code" type="hidden" />
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Email" class="form-control" />
                                            <label asp-for="Input.Email" class="form-label"></label>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Password" class="form-control" />
                                            <label asp-for="Input.Password" class="form-label"></label>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="Input.AvatarFormFile" class="form-label"></label>
                                            <input asp-for="Input.AvatarFormFile" type="file" id="formFile" accept=".png, .jpg, .jpeg, .gif" class="form-control"
                                                   onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                                            <span asp-validation-for="Input.AvatarFormFile" class="text-danger"></span>
                                        </div>
                                     
                                            <label class="me-3 mt-3">Avatar Preview</label>
                                            @if (Model.Input?.AvatarFileData != null)
                                            {
                                                <img id="imageFileData" class="img-fluid img-thumbnail mt-3 mb-3" style="max-width: 100px; height: auto;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.AvatarFileData))" />
                                            }
                                            else
                                            {
                                                <img id="imageFileData" class="img-fluid img-thumbnail mt-3 mb-3" style="max-width: 100px; height: auto;" src="/img/avatardefault_92824.png" />
                                            }
                          
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-4">
                                            <button type="submit" class="btn btn-raised-primary">
                                                <div class="fst-button">
                                                    Submit
                                                </div>
                                                <i class="material-icons icon-sm ms-1">chevron_right</i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Layout footer-->
    <div id="layoutAuthentication_footer">
        <!-- Auth footer-->
        <footer class="p-4">
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between small">
                <div class="me-sm-3 mb-2 mb-sm-0"><div class="fw-500 text-white">Copyright &copy; The Bug Tracker @DateTimeOffset.Now.Year</div></div>
                <div class="ms-sm-3">
                    @*
                    <a class="fw-500 text-decoration-none link-white" href="#!">Privacy</a>
                    <a class="fw-500 text-decoration-none link-white mx-4" href="#!">Terms</a>
                    <a class="fw-500 text-decoration-none link-white" href="#!">Help</a>
                    *@
                </div>
            </div>
        </footer>
    </div>


    <!-- Load Bootstrap JS bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Load global scripts-->
    <script type="module" src="~/js/material.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
