@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Forgot your password?</title>
    <!-- Load Favicon-->
    <link href="~/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Load Material Icons from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <!-- Roboto and Roboto Mono fonts from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet" />
    <!-- Load main stylesheet-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<body>
    <style>
        body {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1540' height='960' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(98%2c 0%2c 234%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c503.821C122.021%2c504.324%2c249.481%2c613.618%2c355.287%2c552.837C460.203%2c492.567%2c441.317%2c334.51%2c488.604%2c223.138C534.242%2c115.65%2c621.266%2c26.212%2c628.375%2c-90.347C636.286%2c-220.048%2c606.669%2c-354.367%2c530.238%2c-459.454C450.723%2c-568.782%2c332.93%2c-657.393%2c199.622%2c-679.849C71.089%2c-701.5%2c-55.538%2c-640.556%2c-169.519%2c-577.328C-266.558%2c-523.498%2c-325.763%2c-429.066%2c-400.437%2c-346.981C-477.284%2c-262.508%2c-604.541%2c-202.107%2c-614.368%2c-88.333C-624.23%2c25.852%2c-491.455%2c98.546%2c-448.08%2c204.631C-401.981%2c317.38%2c-454.711%2c482.274%2c-353.409%2c549.915C-252.566%2c617.249%2c-121.256%2c503.321%2c0%2c503.821' fill='%234e00bb'%3e%3c/path%3e%3cpath d='M1440 1095.3899999999999C1539.058 1101.4940000000001 1635.665 1042.194 1703.076 969.355 1764.1779999999999 903.3340000000001 1753.348 801.952 1788.29 719.059 1821.797 639.571 1899.012 579.456 1903.739 493.324 1908.829 400.58000000000004 1871.693 308.651 1814.845 235.195 1756.216 159.437 1674.467 101.33100000000002 1581.746 77.25799999999998 1490.488 53.565 1397.134 79.54700000000003 1305.824 103.03899999999999 1211.5430000000001 127.29500000000002 1111.155 146.498 1042.8809999999999 215.89499999999998 972.798 287.131 928.7370000000001 386.53999999999996 928.597 486.471 928.463 581.51 993.598 659.989 1042.142 741.6949999999999 1085.612 814.861 1133.3609999999999 881.623 1196.966 938.168 1270.567 1003.5989999999999 1341.706 1089.333 1440 1095.3899999999999' fill='%237a1aff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        }
    </style>
    <!-- Layout wrapper-->
    <div id="layoutAuthentication">
        <!-- Layout content-->
        <div id="layoutAuthentication_content">
            <!-- Main page content-->
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                            <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-4">
                                <div class="card-body p-5">
                                    <!-- Auth header with logo image-->
                                    <div class="text-center">
                                        <img class="mb-3" src="~/assets/img/icons/background.svg" alt="..." style="height: 48px" />
                                        <h1 class="display-5 mb-0">@ViewData["Title"]</h1>
                                        <div class="subheading-1 mb-5">Reset your password.</div>
                                    </div>
                                    <form method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input asp-for="Input.Code" type="hidden" />
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Email" class="form-control" />
                                            <label asp-for="Input.Email" class="form-label"></label>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Password" class="form-control" />
                                            <label asp-for="Input.Password" class="form-label"></label>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Reset</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Layout footer-->
    <div id="layoutAuthentication_footer">
        <!-- Auth footer-->
        <footer class="p-4">
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between small">
                <div class="me-sm-3 mb-2 mb-sm-0"><div class="fw-500 text-white">Copyright &copy; The Bug Tracker @DateTimeOffset.Now.Year</div></div>
                <div class="ms-sm-3">
                    @*
                    <a class="fw-500 text-decoration-none link-white" href="#!">Privacy</a>
                    <a class="fw-500 text-decoration-none link-white mx-4" href="#!">Terms</a>
                    <a class="fw-500 text-decoration-none link-white" href="#!">Help</a>
                    *@
                </div>
            </div>
        </footer>
    </div>


    <!-- Load Bootstrap JS bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Load global scripts-->
    <script type="module" src="~/js/material.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
