@model BugTracker.Models.Company
@using Microsoft.AspNetCore.Identity
@using BugTracker.Extensions
@using BugTracker.Models.Enums

@inject UserManager<BTUser> UserManager

@{
    ViewData["Title"] = "Details";
    BTUser btUser = await UserManager.GetUserAsync(User);
    int companyId = User.Identity.GetCompanyId().Value;
}

<h1>Details</h1>

<div class="row gx-5">
    <div class="col mb-5 mt-3">
        <div class="card h-100 card-raised bg-white text-dark">
            <div class="card-header bg-primary px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h5 class="text-white">Company</h5>
                    </div>
                </div>
            </div>
            <div class="card-body px-4">
                <hr />
                <ul class="list-group list-group-flush mb-0 pb-0">
                    <li class="list-group-item"><strong>Company: </strong><span class="">@Html.DisplayFor(model => model.Name)</span></li>
                    <li class="list-group-item"><strong>Description: </strong><span class="">@Html.DisplayFor(model => model.Description)</span></li>
                </ul>
                <div>
                    <hr />
                    @if (User.IsInRole(nameof(Roles.Admin)))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-raised-info">
                            <div class="fst-button">
                                Edit
                            </div>
                            <i class="material-icons icon-sm ms-1">chevron_right</i>
                        </a>
                    }

                </div>
            </div>
        </div>
        <a asp-action="Dashboard" asp-controller="Home" class="btn btn-outline-info mt-3">
            <div class="fst-button">
                Home
            </div>
            <i class="material-icons icon-sm ms-1">chevron_right</i>
        </a>
    </div>
</div>